extends ../../node_modules/pug-bootstrap/_bootstrap

append styles
    link(href="/css/style.css", rel="stylesheet")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')
