body {

  font-family:'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}
#map
{
 display:none;
}
#MapSearch
{


}
#MapSearchInputWrapper
{

/*
 width:300px;
 margin:25px auto;
*/

}
#MapSearchInputWrapper input
{

 display:inline-block;
 width:375px;
 color:#a7a7a7;
}
#MapSearch #Result
{
/*  background:#fff;*/
  padding:10px;
  margin:10px auto;
  width:300px;
color:#a7a7a7;
}

#Result h3, #Result pre
{
  text-align: left;

}
.cover-title{
    font-family:'Roboto', sans-serif;
    font-weight:lighter;
    font-size: 36pt;
    text-align:center;
    color:#ffffff;
    margin-top: 130px;

}
.styling{
    margin-left:35%;
    width:25%;
    color:#a7a7a7;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-size: 18pt;
    height:19pt;

}
.cover-tagline{
  font-family:'Roboto', sans-serif;
    font-weight:100;
    font-size: 18pt;
    text-align:center;
    color:#ffffff;

}

.cright{
    font-family:'Roboto', sans-serif;
    font-size:14pt;
    font-weight:normal;
    padding-left:0;
}



