extends layouts/cover

block content

    div#MapSearch
      div#MapSearchInputWrapper
      form
        input.stylinginput(id="pac-input", class="controls", type="text", placeholder="Enter address")
        |
        input.search-query.button(type='submit',value=' ')



      div(id="map")
      script(id="SearchResultTemplate", type="text/x-handlebars-template")
          ul
              li Address: {{formattedAddress}}
              li City:{{cityName}}
              li State:{{stateName}}
              li Zip: {{zipcode}}
              li 3 Digit Zip:{{threeDigitZip}}
              li County:{{countyName}}
              li Latitude: {{latitude}}
              li Longitude: {{longitude}}
              li Neighborhood: {{extra.neighborhood}}
              li Census Tract:{{censusTract}}
              li Census Block:{{censusBlock}}
              

              
      div(id="Result")
append scripts
    script(src="/bower_components/handlebars/handlebars.min.js")
    script(src="/js/geocodeform.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBqoKA5F1E5_MR427Z1kyGwMP5zNGjejQ&libraries=places&callback=initAutocomplete")
